PORT=5000
NODE_ENV=development
MONGO_URI=mongodb+srv://nileshkumar95559926_db_user:OhIY0UQ1Pc2jtApu@cluster0.4yft5rg.mongodb.net/leadms
JWT_SECRET=your_super_secret_jwt_key
CLIENT_URL=http://localhost:5000

# Nodemailer setup for Gmail
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=nileshkumar95559926@gmail.com
# Use an App Password (16 characters) here, NOT your regular Gmail password. 
# Setup instructions: https://support.google.com/accounts/answer/185833
SMTP_PASS=cqsudpprxkrqdyzp
FROM_EMAIL=nileshkumar95559926@gmail.com
